certifi==2025.11.12
charset-normalizer==3.4.4
feedgen==1.0.0
feedparser==6.0.12
idna==3.11
lxml==6.0.2
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.5
sgmllib3k==1.0.0
six==1.17.0
urllib3==2.6.2
