name: Update Feed

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */4 * * *"

jobs:
  update_feed:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt

      - name: Run Parser
        run: python FeedMerger.py

      - name: Set git config
        run: |
          git config --global user.name "${{ github.actor }}"
          git config --global user.email "${{ github.actor }}@github.com"

      - name: Check for feed updates
        id: check_changes
        run: |
          if diff -q --ignore-all-space \
            <(git show HEAD:feed.xml | grep -v -E '<(pubDate|lastBuildDate)>') \
            <(cat feed.xml | grep -v -E '<(pubDate|lastBuildDate)>') > /dev/null; then
            echo "has_changes=false" >> $GITHUB_OUTPUT
            echo "No meaningful changes to commit."
          else
            echo "has_changes=true" >> $GITHUB_OUTPUT
            echo "Meaningful changes detected in feed.xml"
          fi

      - name: Commit changes
        if: steps.check_changes.outputs.has_changes == 'true'
        run: |
          git add feed.xml
          git commit -m "Update RSS feed"
          git push
