name: Update Feed

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */2 * * *"

jobs:
  update_feed:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt

      - name: Run Python script
        run: python FeedMerger.py

      - name: Stage files
        run: |
          git add feed.xml posted_links.txt

      - name: Check for changes
        id: check
        run: |
          if git diff --quiet --staged -- posted_links.txt; then
            echo "changed=false" >> $GITHUB_OUTPUT
          else
            echo "changed=true" >> $GITHUB_OUTPUT
          fi

      - name: Commit and push changes
        if: steps.check.outputs.changed == 'true'
        run: |
          git config --global user.name "${{ github.actor }}"
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"
          git commit -m "Update RSS feed"
          git push
