name: RSS Feed Notification

on:
  workflow_run:
    workflows: [Feed Update]
    types:
      - completed

jobs:
  update_after_feed:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install feedparser requests

      - name: Run Python script
        env:
          SECRET_WEBHOOK_URL: ${{ secrets.SECRET_WEBHOOK_URL }}
          SECRET_WEBHOOK_URL2: ${{ secrets.SECRET_WEBHOOK_URL2 }}
        run: |
          python RSSparser.py $SECRET_WEBHOOK_URL $SECRET_WEBHOOK_URL2

          if [ "$(git status --porcelain)" ]; then
            git config --global user.name "${{ github.actor }}"
            git config --global user.email "${{ github.actor }}@github.com"
            git add posted_links.txt
            git commit -am "Updated posted_links.txt"
            git push
          else
            echo "No new payloads found. Exiting cleanly."
          fi
